.hero {
  height: 100vh;
  background: url("../images/hero_Bimg.png") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  padding: 0 1rem;

  .header__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    h1 {
      @include josefin(48px, 700);
      margin: 0;
      line-height: 1;
    }

    h3 {
      @include josefin(22px, 400);
      margin: 0;
      line-height: 1;
    }
  }
}

.searchbar {
  max-width: 653px;
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  background: #fff;
  padding: 2px;

  &__input {
    flex: 1;
    height: 100%;
    padding: 0 1rem;
    font-size: 0.9rem;
    color: #333;
    border: none;
    outline: none;

    &::placeholder {
      @include josefin(14px, 400, #999999);
      letter-spacing: 2.8px;
      text-align: center;
    }
  }

  &__button {
    width: 150px;
    height: 100%;
    background-color: #5474fd;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    @include aleo(14px, 400);
    letter-spacing: 1.4px;

    &:hover,
    &:focus-visible {
      background-color: #3b60fd;
    }
  }
}

.scroll-indicator {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include aleo(14px, 400);
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.3s ease;

  &__icon {
    margin-top: 0.5rem;
    width: 16px;
    height: 16px;
  }

  &:hover,
  &:focus-visible {
    opacity: 0.7;
  }
}

.hero__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #5373fd;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  max-height: 83px;
  height: auto;

  &-inner {
    width: 100%;
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__logo h3 {
    @include josefin(24px, 700);
  }

  &__toggle {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }

  &__nav {
    display: flex;
    gap: 2rem;

    a {
      @include aleo(14px, 400);
      text-decoration: none;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
